@tailwind base;
@tailwind components;
@tailwind utilities;

.module-shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: all;
}

.module-shadow:hover {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
    transition: all; 
}

.inset-shadow {
    box-shadow: 0px 0px 20px inset rgba(0 0 0 / 0.72);
}
